[data-md-color-scheme="slate"] .md-content,
[data-md-color-scheme="slate"] .md-main {
    background-color: #121212; 
}

[data-md-color-scheme="slate"] .md-header,
[data-md-color-scheme="slate"] .md-sidebar,
[data-md-color-scheme="slate"] .md-footer {
    background-color: #212121; 
}

[data-md-color-scheme="slate"] {
    --md-default-fg-color: #D2D2D2;
    --md-default-fg-color--light: #D2D2D2;
    --md-typeset-color: #D2D2D2;
}

[data-md-color-scheme="slate"] .md-typeset h1, 
[data-md-color-scheme="slate"] .md-typeset h2, 
[data-md-color-scheme="slate"] .md-typeset h3 {
    color: #D2D2D2;
}

.md-header {
    box-shadow: none !important;
}
.md-sidebar {
    background-color: #212121;
}
